<br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <div class="row">
                    <div class="col">
                        Módulo especializado a realizar los pagos de adquisicion de derecho o documentos
                        por pagar. En este modulo exclusivamente se altera el catalogo de cuenta "efectivo". 
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <h6 class="text-center">Formulario de pago</h6>
                        <mat-form-field>
                            <input matInput [matDatepicker]="dp3" placeholder="Fecha"  [(ngModel)]="fecha" disabled>
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Seleccione cuenta</mat-label>
                            <mat-select (selectionChange)="onChange($event)">
                                <mat-option  value="1">
                                    Local
                                </mat-option>
                                <mat-option  value="2">
                                    Cuentas por pagar
                                </mat-option>
                                <mat-option  value="3">
                                    Fletes
                                </mat-option>
                                <mat-option  value="4">
                                    Desarolladores
                                </mat-option>
                                <mat-option  value="5">
                                    Administracion
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="ver === true">
                            <p>
                                A continuacion se detallan las transacciones que aun no han sido canceladas.
                            </p>
                            <mat-form-field >
                                <mat-label>Seleccione transacción</mat-label>
                                <mat-select [(value)]="selectedTrans">
                                    <ng-container *ngFor="let trans of transPorPagar">
                                        <mat-option [value]="trans.codigo" *ngIf="trans.cancelado === 'no'">
                                            cod: {{ trans.codigo }} / $ {{ trans.haber }} / detalle: {{ trans.detalle }}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        
                        <mat-form-field>
                            <span matPrefix>$&nbsp;</span>
                            <mat-label>Ingresar cantidad</mat-label>
                            <input matInput 
                                    type="text" 
                                    name="din"
                                    id="din"
                                    [(ngModel)]="dinPago"> 
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="w-100" (click)="ingresarPago()">Guardar transacción</button>
                    </div>
                    <div class="col-1"></div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

