<mat-drawer-container class="example-container2" hasBackdrop="true">
        <!--Menu lateral-->
        <mat-drawer #drawer2 mode="over">
            <!-- definimos el ancho del sidenav mode=OVER -->
            <div class="W-300"> 
                <div class="container-fluid">
                    <div class="row">
                        <div class="col p-0">
                            <mat-toolbar-row>
                                <h5>Módulos</h5>
                                <span class="flex-right"></span>
                                <button mat-icon-button
                                        color="primary"
                                        (click)="drawer2.toggle()">
                                        <mat-icon>close</mat-icon>
                                </button>
                            </mat-toolbar-row>
                            <mat-nav-list>
                                <mat-divider></mat-divider>
                                <a mat-list-item routerLink="/monitoreo" routerLinkActive="active-link"> <mat-icon mat-list-icon class="s-r-5">my_location_rounded</mat-icon> Monitoreo</a>
                                <mat-divider></mat-divider>
                                <a mat-list-item routerLink="/consola-equipos"> <mat-icon mat-list-icon  class="s-r-5">forum</mat-icon> Consola</a>
                                <mat-divider></mat-divider>
                                <a mat-list-item routerLink="/grupos"> <mat-icon mat-list-icon  class="s-r-5">group</mat-icon>Gestion de grupos</a>
                                <mat-divider></mat-divider>
                                <a mat-list-item routerLink="/registrar-vehiculo"> <mat-icon mat-list-icon  class="s-r-5">settings_remote_rounded</mat-icon>Gestión de vehículos</a>
                                <mat-divider></mat-divider>
                                <a mat-list-item routerLink="/etiquetas" routerLinkActive="active-link"> <mat-icon mat-list-icon  class="s-r-5">label_rounded</mat-icon>Etiquetas</a>
                                <mat-divider></mat-divider>
                                <a mat-list-item routerLink="/viajes" routerLinkActive="active-link"> <mat-icon mat-list-icon  class="s-r-5">timeline</mat-icon>Viajes</a>
                                <mat-divider></mat-divider>
                            </mat-nav-list>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin de definicion del ancho del sidenav mode=OVER -->
        </mat-drawer>
        <!--/Menu lateral-->
        <!--CONTENIDO DE LA APP DE MAPA-->
        <mat-drawer-content class="p-r-c">
            <!--TOOLBAR-->
            <mat-toolbar color="primary" class="fixed-top">
                    <mat-toolbar-row>
                        <button mat-icon-button (click)="drawer2.toggle()">
                                <mat-icon>menu</mat-icon>
                        </button>
                        <span style="margin-left: 5px">Sistemas Contables EL Salvador APS, S.A de C.V.</span>
                        <span class="flex-right"></span>
                        <button mat-icon-button 
                                matTooltip="Cerrar sesión"
                                matTooltipPosition="below">
                            <mat-icon>exit_to_app</mat-icon>
                        </button>
                    </mat-toolbar-row>
            </mat-toolbar>
            <!--tOOLBAR-->
            <!--Container de sidenav y content de mapa-->
            <mat-drawer-container class="example-container">
                <!--MENU LATERAL INTERNO-->
                <mat-drawer #drawer mode="side" opened>
                    <!-- definimos el ancho del sidenav mode=side -->
                    <div class="W-400">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <br>
                                    <mat-list>
                                        <mat-list-item><mat-icon style="margin-right: 60px;">dashboard</mat-icon> <strong>Modulos</strong></mat-list-item>                       
                                    </mat-list>
                                    <mat-nav-list>
                                        <mat-divider></mat-divider>
                                        <mat-list-item >
                                            <a matLine href="#" (click)="obtenerInversionCapital()">Inversion a la empresa</a>
                                            <button mat-icon-button >
                                                <mat-icon>monetization_on</mat-icon>
                                            </button>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item >
                                            <a matLine href="#" (click)="obtenerModuloPagos()">Pagos</a>
                                            <button mat-icon-button >
                                                <mat-icon>verified_user</mat-icon>
                                            </button>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item >
                                           <a matLine href="#" (click)="obtenerModuloCompras()">Compras</a>
                                           <button mat-icon-button >
                                              <mat-icon>add_shopping_cart</mat-icon>
                                           </button>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item >
                                            <a matLine href="#" (click)="obtenerEstadosFinancieros()">Estados financieros</a>
                                            <button mat-icon-button >
                                                <mat-icon>account_balance</mat-icon>
                                            </button>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                    </mat-nav-list>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fin de definicion del ancho del sidenav mode=side -->
                </mat-drawer>
                <!--/MENU LATERAL INTERNO-->
                <!--MAPA-->
                <mat-drawer-content class="p-r-c2">
                    <div class="container-fluid h-full p-lr-0">
                        <div class="row h-full">
                            <div class="col h-full">
                                <button  mat-mini-fab 
                                    color="primary"
                                    (click)="drawer.toggle()"
                                    class="position-absolute p-lt  z-index-1000"
                                    ><mat-icon>fullscreen</mat-icon>
                                </button>
                                <!--mensaje de bienvenida-->
                               <div class="d-flex justify-content-center align-items-center h-full" *ngIf="mensajeBienvenida === true">
                                   <div>
                                        <h2 class="text-center">Bievenido al sistema contable de</h2>
                                        <h2 class="text-center">Apparel solutions</h2>
                                        <h6 class="text-center">por favor seleccione un modulo para iniciar.</h6>
                                    </div>
                               </div>
                               <!--mensaje de bienvenida-->
                               <div #content></div>
                            </div>
                        </div>
                    </div>
                </mat-drawer-content>
                <!--/MAPA-->
            </mat-drawer-container>
            <!--/Container de sidenav y content de mapa-->
        </mat-drawer-content>
        <!--CONTENIDO DE LA APP DE MAPA-->
</mat-drawer-container>
