<br>
<div class="container">
    <div class="row">
        <div class="col">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Balance de comprobación">
                    <mat-card>
                        <div class="row">
                            <div class="col">
                                <mat-card>
                                    <h6 class="text-center">"EL Salvador APS, S.A de C.V."</h6>
                                    <h6 class="text-center">BALANCE DE COMPROBACION INICIAL</h6>
                                    <h6 class="text-center">Del 1 al 31 de noviembre</h6>
                                    <mat-divider></mat-divider>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Código</th>
                                                <th scope="col">Cuenta</th>
                                                <th scope="col">Debe</th>
                                                <th scope="col">Haber</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </div>
                        </div>
                    </mat-card>
                    <br>
                </mat-tab>
                <mat-tab label="Estado de resultados">
                    <mat-card>
                        <div class="row">
                            <div class="col">
                                <mat-card>
                                    <h6 class="text-center">"EL Salvador APS, S.A de C.V."</h6>
                                    <h6 class="text-center">ESTADO DE RESULTADO</h6>
                                    <h6 class="text-center">Del 1 al 31 de noviembre</h6>
                                    <mat-divider></mat-divider>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Código</th>
                                                <th scope="col">Cuenta</th>
                                                <th scope="col">Debe</th>
                                                <th scope="col">Haber</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </div>
                        </div>
                    </mat-card>
                    <br>
                </mat-tab>
                <mat-tab label="Estado de capital">
                    <mat-card>
                        <div class="row">
                            <div class="col">
                                <mat-card>
                                    <h6 class="text-center">"EL Salvador APS, S.A de C.V."</h6>
                                    <h6 class="text-center">ESTADO DE CAPITAL</h6>
                                    <h6 class="text-center">Del 1 al 31 de noviembre</h6>
                                    <mat-divider></mat-divider>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Código</th>
                                                <th scope="col">Cuenta</th>
                                                <th scope="col">Debe</th>
                                                <th scope="col">Haber</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </div>
                        </div>
                    </mat-card>
                    <br>
                </mat-tab>
                <mat-tab label="Balance general">
                    <mat-card>
                        <div class="row">
                            <div class="col">
                                <mat-card>
                                    <h6 class="text-center">"EL Salvador APS, S.A de C.V."</h6>
                                    <h6 class="text-center">BALANCE GENERAL</h6>
                                    <h6 class="text-center">Del 1 al 31 de noviembre</h6>
                                    <mat-divider></mat-divider>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Código</th>
                                                <th scope="col">Cuenta</th>
                                                <th scope="col">Debe</th>
                                                <th scope="col">Haber</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </div>
                        </div>
                    </mat-card>
                    <br>
                </mat-tab>
            </mat-tab-group>
                      
           
        </div>
    </div>
</div>